{
    "trials" : 100, 
    "beta"  : 0.08, 
    "gamma" : 0.075, 
    "vaccination" : {"strategy"      : "degree_vaccination",
                     "fraction"      : 0,
                     "is_sequential" : false}, 
    "network_params" : {"name" : "read_graphml", 
                        "args" : {"path" : "ba_6.graphml"}}
}
